:root {
    --text: #fff;
    --background: #21365c;
    --bg-image: url();
    --backbool: fixed;

    --a-link: #a8d2ff;
    --a-hover: #1588ff;
    
    --box-border: #416392;
    --box-back: #0f162b;

    --scroll-background: var(--box-back);
    --scroll-border: var(--box-border);

    --radius: 0;
}

body nav a {
    background-color: var(--background);
}