:root {
    --text: #fff;
    --background: linear-gradient(#141a3e, #0c4329);
    --bg-image: url();
    --backbool: fixed;

    --a-link: #09df77;
    --a-hover: #173aff;
    
    --box-border: #0b6335;
    --box-back: #0d112b;

    --scroll-background: #0c261a;
    --scroll-border: var(--box-border);

    --radius: 0;

    nav a {
        background-color: #141a3e;
    }
}