:root {
    --text: #b7f0df;
    --background: #090f13;
    --bg-image: url();

    --a-link: #00ffb3;
    --a-hover: #00d9ff;
    
    --box-border: #0e2217;
    --box-back: #101320;

    --radius: 12px;
}