---
title: 
sub: Comics

desc:
metatitle:

layout: layout/base.njk
---

<style>
    a.cat article {
        display: flex;
        align-items: center;
        border: 2px solid var(--box-border);
        background-color: var(--box-back);
    }

    a.cat,
    a.cat:visited,
    a.cat:hover,
    a.cat:active {
        color: var(--text);
    }

    a.cat article:hover,
    a.cat article:active {
        box-shadow: 0 0 15px var(--a-hover);
    }

    a.cat:hover {
        position: relative;
        top: -3px;
    }

    a.cat:last-child article {
        margin-bottom: 0;
    }

    a.cat img {
        max-width: 150px;
        border: 2px solid var(--box-border);
        margin-right: 12px;
    }
</style>

<main>
    <article>
        <h1>Webcomics</h1>

        <p>Welcome to the webcomics page! Something that I should've created long ago. This is the main hub of the comics; below are the different categories, ranging from short webcomics, to like, literal webcomic series. (If I ever plan of one). Well, right now I can offer short webcomics.</p>
    </article>

    <article>
        <h1>Categories</h1>

        <a href="./minicomics" class="cat">
            <article>
                <img src="/images/thumbnails/webcomic/minicomics/main.jpeg" alt="Irénéé the moth.">
                <div>
                    <h2>Mini Webcomics</h2>
                    <p>Short and silly webcomics where my characters mess around.</p>
                </div>
            </article>
        </a>
    </article>
</main>

<aside>
    {% include "../_includes/partials/sidenav.njk" %}
    <article>
        {% include "../_includes/partials/styleswitcher.njk" %}
    </article>
</aside>