---
title: Mebi County
subtitle: Worlds

meta_title:
meta_description:

layout: layout/main.njk
css: [main, aside]
---

<style>
    aside article {
        position: sticky;
        top: 32px;
    }
</style>

<main>
    <article class="content">
        this is a wip lol .w.
    </article>
    <article class="content">
        <h1>World 1</h1>
        <p>Paragraph</p>
    </article>

    <article class="content">
        <h1>World 2</h1>
        <p>Paragraph</p>
    </article>

    <article class="content">
        <h1>World 3</h1>
        <p>Paragraph</p>
    </article>
</main>

<aside id="right" class="narrow disappear">
    <article class="content">

    </article>
</aside>