---
title: Mebi County
subtitle: Test

meta_title:
meta_description:

layout: layout/other.njk
css: ewugh
---

{#<script type="text/javascript" src="/js/updates-visitors.js"></script>#}

<div id="page">
    <nav>
        <a href="">Link</a>
        <a href="">Link</a>
        <a href="">Link</a>
        <a href="">Link</a>
        <a href="">Link</a>
    </nav>
    <header></header>
    <div class="flex">
        <aside id="left">
            <article class="content">
                <h2>In My Mind...</h2>
                <p>werfy8g</p>
            </article>
            <article class="content" style="text-align: center;">
                <h2>My Button!</h2>
                <img src="/images/buttons/bestviewed.gif" alt="tis is palceh9ler ergiohufyiwb">
                <textarea id="button-snippet" readonly>
                    <a href="https://afellowu.neocities.org/" target="_blank">
                        <img src="YOUR_SITE_DIRECTORY/mebi_county.gif" alt="Mebi County">
                    </a>        
                </textarea>
            </article>
        </aside>
        <main>
            <article class="content">
                <h1>Heya!</h1>
                <p>Welcome, web surfer, to my little place on the world wide web! You can call be Mebi; not really sure how "mebi" is pronounced... anyhoo! This is where I throw whatever creations I make at it; art, OCs, worldbuilding, lore, whatever else! Take a look around!</p>
            </article>

            <article class="content">
                <h2>Recent Blogs</h2>
                {#{% if collections.blogs %}
                    {% for post in collections.blogs | reverse | limit(3) %}
                    <a href="{{ post.filePathStem }}">
                        <article class="blog">
                            <h2>{{ post.data.subtitle }}</h2>
                            <p>{{ post.data.blog_description }}</p>
                            <small>Posted on {{ post.date | UTCA }}</small>
                        </article>
                    </a>
                    <hr>
                    {% endfor %}
                {% else %}
                    <p>Hm, no blog posts, for now.</p>
                {% endif %}#}
            </article>

            <article class="content">
                <h3>Somethin' Else</h3>
                <p>werfy8g</p>
            </article>
        </main>
        <aside id="right">
            <article class="content">
                <h2>Updates</h2>
                <div id="updates">
                    {% if collections.changelog %}
                        {% for log in collections.changelog | reverse | limit(5) %}
                            <h2>{{ log.date | UTCA }}</h2>
                            {{ log.content | safe }}
                            <hr>
                        {% endfor %}
                    {% else %}
                        <h3>No updates to display.</h3>
                    {% endif %}
                </div>
                <hr>
                <p><b>Last updated: </b><span id="lastupdate"></span></p>
            </article>
        </aside>
    </div>
    {% include "partials/footer.njk" %}
</div>