---
{
  "permalink": "log_feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Mebi County Changelog",
    "subtitle": "Changelog feed for Mebi County.",
    "language": "en-us",
    "url": "https://afellowu.neocities.org/",
    "author": {
      "name": "Mebiae"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ metadata.url }}" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ metadata.title }}</title>
    <link>{{ metadata.url }}</link>
    <atom:link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self" type="application/rss+xml" />
    <description>{{ metadata.subtitle }}</description>
    <language>{{ metadata.language }}</language>
    {%- for log in changelog | reverse %}
    <item>
      <title>{{ log.date }}</title>
      <link>{{ metadata.url }}</link>
      <description><![CDATA[ {% logHTML log.info %} ]]></description>
      <pubDate>{{ log.date | stringToTime | dateToRfc822 }}</pubDate>
      <dc:creator>{{ metadata.author.name }}</dc:creator>
      <guid>{{ metadata.url }}</guid>
    </item>
    {%- endfor %}
  </channel>
</rss>