---
title: Mebi County
subtitle: Gallery

meta_title:
meta_description:

layout: layout/main.njk
---

<link rel="stylesheet" href="/css/photoviewer.css">

<style>
    /***
EZ Gallery by netfriend - https://netfriend.neocities.org/ez-gallery/
Released under the Unlicense - https://unlicense.org/
***/

.ezgallery.horizontal { 
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    gap: 5px;
}

.ezgallery.horizontal a {
    text-align: center;
}

.ezgallery.horizontal img {
    border: 2px solid var(--box-border);
    text-align: center;
    vertical-align: middle;
    margin: 0 5px 5px 0;
    max-width: 150px;
    max-height: 150px;
    object-fit: contain;
    object-position: bottom;
}

.ezgallery.horizontal img:hover {
    position: relative;
    top: -5px;
}
</style>

<main>
    <p>gallery text</p>
</main>

<aside>
    <p>hmmmmmmmmmmmmmmmmmmmmmmmmmmm</p>
</aside>

<script src="https://unpkg.com/photoviewer@3.6.2/dist/photoviewer.min.js"></script>
<script src="/js/gallery.js"></script>
