---
title: Mebi County
subtitle: Gallery

meta_title:
meta_description:

layout: layout/main.njk
css: [main, photoviewer]
---

<script src="https://unpkg.com/photoviewer@3.6.2/dist/photoviewer.min.js"></script>
<script src="/js/gallery.js"></script>

<style>
    /***
EZ Gallery by netfriend - https://netfriend.neocities.org/ez-gallery/
Released under the Unlicense - https://unlicense.org/
***/

.ezgallery.horizontal { 
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    gap: 5px;
}

.ezgallery.horizontal a {
    text-align: center;
}

.ezgallery.horizontal img {
    border: 2px solid var(--box-border);
    text-align: center;
    vertical-align: middle;
    margin: 0 5px 5px 0;
    max-width: 150px;
    max-height: 150px;
    object-fit: contain;
    object-position: bottom;
}

.ezgallery.horizontal img:hover {
    position: relative;
    top: -5px;
}
</style>

<main>
    <article class="content">
        <h1>LOL</h1>
        <p>gallery text</p>
        
        <button onclick="pain.showModal()">Yes</button>
    </article>

    <section class="container">
        <article class="content-flex">e</article>
        <article class="content-flex">e</article>
    </section>
</main>

<dialog id="pain">
    <p>Yeag</p>
    <button onclick="pain.close()">Yes</button>
</dialog>

