---
title: MebiBlogs

layout: layout/base.njk
---

<style>
    .blogposts {
        margin: 2em 0;
    }

    .blognav {
        display: flex;
        justify-content: center;
        gap: 1em;
    }

    .blognav a {
        text-align: center;
        background-color: #141a3e;
        padding: 1em;
    }

    .indent {
        padding-left: 1.5em;
    }

    .head-box {
        border-bottom: 2px solid var(--box-border);
    }
</style>

{% set prevPost = collections.blogs | getPreviousCollectionItem %}
{% set nextPost = collections.blogs | getNextCollectionItem %}

<main>
    <article>
        <div class="head-box">
            <h1>{{ sub }}</h1>
            <p class="indent">{{ blogdesc }}</p>
            <p><b>Posted on:</b> {{ page.date.toLocaleDateString("en-CA") }}</p>
        </div>
        {{ content | safe }}

        <div class="blognav">
            {% if prevPost %}<a href="{{ prevPost.filePathStem }}">&lt;-- Previous Post</a>{% endif %}
            {% if nextPost %}<a href="{{ nextPost.filePathStem }}">Next Post --&gt;</a>{% endif %}
        </div>
    </article>
</main>