---
title: MebiBlogs

layout: layout/main.njk

css: [main, blog]
---

{% set prevPost = collections.blogs | getPreviousCollectionItem %}
{% set nextPost = collections.blogs | getNextCollectionItem %}

<main>
    <article>
		<article class="content">
            <div class="blognav" style="justify-content: space-between;">
                {% if prevPost %}
                    <a href="{{ prevPost.filePathStem }}">&lt;-- Previous Post</a>
                {% else %}
                    <span style="color: #444444;">X-- End of list</span>
                {% endif %}

                {% if nextPost %}
                    <a href="{{ nextPost.filePathStem }}">Next Post --&gt;</a>
                {% else %}  
                    <span style="color: #444444;">End of list --X</span>
                {% endif %}
            </div>
        </article>

        <article class="content">
            <div class="head-box">
                <h1>{{ subtitle }}</h1>
                <p class="indent">{{ blog_description }}</p>
                <p><b>Posted on:</b> {{ page.date.toLocaleDateString("en-CA") }}</p>
            </div>
        </article>
        
        <article class="content">
            {{ content | safe }}
        </article>

        <article class="content">
            <div class="blognav">
                {% if prevPost %}<a class="nav" href="{{ prevPost.filePathStem }}">&lt;-- Previous Post</a>{% endif %}
                {% if nextPost %}<a class="nav" href="{{ nextPost.filePathStem }}">Next Post --&gt;</a>{% endif %}
            </div>
        </article>
    </article>
</main>