---
layout: layout/responsive.njk
---

<a href="/">
    <div style="display: flex;justify-content: center;">
        <img id="banner" style="image-rendering: pixelated;max-width: 100%;" src="/images/themes/banner_sign.png" alt="Website Banner">
    </div>
</a>
{% include "../partials/navbar.njk" %}
<div id="flex">
    {{ content | safe }}
</div>
<script type="text/javascript" src="/js/styleswitcher.js"></script>
<script type="text/javascript" src="/js/dropdown.js"></script>
{% include "../partials/footer.njk" %}