aside {
    width: 240px;
}

#left {
    order: 1;
    padding-right: 6px;
}

#right {
    order: 3;
    padding-left: 6px;
}

.narrow {
    width: 200px;
}

.widened {
    width: 300px;
}

@media (max-width: 960px) {
    aside {
        width: 200px;

        &.widened {
            width: 240px;
        }
    }
}

@media (max-width: 825px) {
    #left,
    #right {
        padding: 0;
    }

    #left {
        order: 4;
        margin-top: 6px;
    }

    aside {
        width: 100% !important;
    }

    main:has(+ aside.disappear),
    main:has(+ aside.top)  {
        margin: 0;
    }

    .disappear {
        display: none;
    }

    .top {
        order: 0 !important;
        margin-bottom: 6px;
    }
}