@use "sass:color";

$main: rgb(32, 43, 38);
$border: color.adjust($main, $saturation: 10, $lightness: 52);

////////////////////////////////

* {
    box-sizing: border-box;
}

body {
    background-image: url("/images/starry.gif");
    image-rendering: pixelated;
    color: white;
    font-family: 'Nunito', sans-serif, 'Segoe UI';
    font-size: 0.86em;
}

#page {
    max-width: 1100px;
    margin: 0 auto;
    padding: 6px;
    background-color: $main;
}

aside {
    width: 230px;
}

#left {
    order: 1;
}

#right {
    order: 3;
}

#updates {
    max-height: 200px;
    overflow: auto;

    h2 {
        margin: 0.38em 0;
    }

    ul {
        padding-left: 25px;
    }
}

hr {
    border: 1px solid rgb(28, 37, 33);

    &:last-child {
        display: none;
    }
}

.flex {
    display: flex;
    background: rgb(28, 37, 33);
    padding: 6px;
}

.container {
    display: flex;
    margin-bottom: 6px;

    &:last-child {
        margin-bottom: 0;
    }
}

.content {
    padding: 12px;
    background: $main;
    margin-bottom: 6px;

    &-flex {
        @extend .content;
        width: 100%;
        margin-right: 6px;
        margin-bottom: 0;

        &:last-child {
            margin-right: 0;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.blog {
    color: white;
}

a {
    text-decoration: none;
}

h1,h2,h3 {
    margin-top: 0.38em;
}

h1 {
    font-size: 1.875em;
}

nav {
    padding: 6px;
    position: sticky;
    top: 0;
    background: rgb(28, 37, 33);
}

header {
    background: url("/images/placeholders/banner-ph.png");
    background-position: center;
    height: 200px;
}

main {
    flex: 1;
    order: 2;
    padding: 0 6px;
}

footer {
    padding: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 6px;
    background: rgb(28, 37, 33);

    p {
        margin: 0;
    }
}

@media (max-width: 960px) {
    aside {
        width: 200px;
    }
}

@media (max-width: 825px) {
    .flex {
        flex-wrap: wrap;
    }

    main {
        padding: 0;
        margin-bottom: 6px;
    }

    #left {
        order: 4;
        margin-top: 6px;
    }

    aside {
        width: 100%;
    }

    body {
        margin: 0;
    }
}