// SCSS Variables

$shiny-bar: linear-gradient(0deg,rgba(0,0,0,0.2) 0%, rgba(149,149,149,0.3) 50%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0.2) 100%);

$text-white: rgb(249, 255, 252);

$main-light-green: rgb(156, 190, 172);
$main-evergreen: rgb(18, 34, 24);
$border-blue: rgb(148, 185, 230);
$border-navy: rgb(26, 43, 65);

// SCSS

@mixin box($border: none, $background: none) {
    border: 1px solid $border;
    background: $background;
}

// Main CSS

* {
    box-sizing: border-box;
    scrollbar-color: $main-light-green $main-evergreen;
}

html {
    display: flex;
    justify-content: center;
}

body {  
    color: $text-white;
    background: linear-gradient(rgb(21, 31, 44), rgb(10, 22, 18));
    background-attachment: fixed;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", "Lucida Grande", "Tahoma", sans-serif;
    margin: 0;
    width: 1100px;
    font-size: 0.875em;
}

#flex {
    display: flex;
}

#page {
    @include box($main-light-green, rgba(36, 46, 40, 0.5));
    margin: 8px;
    padding: 8px;
    backdrop-filter: saturate(300%);
    border-radius: 8px;
}

#overlay {
    background: rgba(34, 50, 70, 0.75);
    position: relative;
    bottom: 25em;
    height: 120vh;
    z-index: -100;
}

#updates {
    max-height: 200px;
    overflow: auto;

    ul {
        padding-left: 20px;

        li {
            margin: 5px 0;
        }
    }
}

#pfp-base {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    #pfp {
        border-radius: 500px;
        max-width: 120px;
        border: 1px solid $border-blue;
    }

    h3,
    p {
        margin: 2px;
    }
}

header,
aside,
footer,
main section {
    padding: 10px
}

header {
    @include box($main-light-green, url("/images/placeholders/banner-ph.png"));
    margin-bottom: 8px;
    background-position: center;
    height: 120px;
}

h1,
h2 {
    margin: 0;
    padding: 4px 8px;
    backdrop-filter: saturate(250%) brightness(95%);
}

h1 {
    /*
    padding: 4px 12px 8px;
    background-color: #686868;*/
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

p {
    line-height: 1.625em;
}

a {
    text-decoration: none;
    color: $border-blue;

    article {
        padding: 10px;
        color: $text-white;

        &:hover {
            position: relative;
            top: -4px;
        }
    }

    &:hover {
        color: rgb(108, 255, 172);
        text-decoration: underline;
    }
}

hr {
    border: none;
    border-bottom: 1px solid $main-light-green;
    margin: 0;
}

marquee {
    padding-top: 5px;
}

main {
    flex: 1;
    order: 2;
    border: 1px solid $main-light-green;
    background-color: $main-evergreen;

    h1,
    h2 {
        background-color: rgb(36, 90, 67);
    }
}

aside {
    @include box($border-blue, $border-navy);

    &#left {
        order: 1;
        margin-right: 8px;
    }

    &#right {
        order: 3;
        margin-left: 8px;
    }

    article {
        padding: 8px;
    }

    h1,
    h2 {
        background-color: rgb(39, 68, 105);
    }

    section {
        @include box($border-blue, $border-navy);
        width: 200px;
        margin-top: 10px;

        &:first-of-type {
            margin: 0;
        }
    }
}

nav {
    width: 200px;
    @include box($border-blue, $border-navy);

    ul {
        list-style-type: none;
        margin: 0;
        padding-left: 30px;

        > ul {
            padding-left: 20px;
        }

        li {
            margin: 6px 0;
        }
    }

    & + section {
        margin-top: 10px !important;
    }
}

footer {
    @include box($main-light-green, $main-evergreen);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 8px;

    p {
        margin: 0;
    }
}

body > details {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;

    summary {
        list-style-type: none;
        background: $border-navy;
        padding: 10px;

        &::before {
            content: "☰";
            font-size: 1.5em;
        }
    }
}

@media (max-width: 850px) {
    #page {
        margin-top: 3.5rem;
    }

    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
        margin: 8px 0 0 !important;

        section {
            width: 100%;
        }

        nav {
            display: none;
        }

        &#left {
            order: 3;
        }
    }

    body > details {
        display: block;
    }

    details > nav {
        font-size: 1.25em;

        li {
            margin: 8px 0;
        }
    }
}