<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            Urania238 on Elesite (Science Project)
        </title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:url" content="https://afellowu.neocities.org/">
        <meta property="og:type" content="website" />

        {% if metatitle %}
        <meta property="og:title" content="{{metatitle}}"/>
        {% else %}
        <meta property="og:title" content="{{site.title}}"/>
        {% endif %}

        {% if desc %}
        <meta property="og:description" content="{{desc}}"/>
        {% else %}
        <meta property="og:description" content="Welcome to Elesite! For all elements of any kind, halogens, aklalines, all!"/>
        {% endif %}

        <!--<meta property="og:image" content="https://afellowu.neocities.org/images/thumbnail.png" />-->
        <meta property="twitter:card" content="summary_large_image">
        <link rel="stylesheet" type="text/css" href="/css/elesite.css" />
    </head>
    <body>
        <div id="page">
            <div id="flex"> 
                <aside style="overflow: visible;">
                    <div style="position: sticky;">
                        <h1 style="margin:0">ELESITE</h1>
                        <hr>
                        <div id="login-form">
                            <h3 style="margin-top:0">Quick Login:</h3>
                            <label for="emai"><b>Email:</b></label>
                            <input type="text" name="emai">
                            <label for="pas"><b>Password:</b></label>
                            <input type="text" name="pas">
                            <!--i aint requesting your email a-->
                            <button style="margin-top: 10px" title="don't even clicc on this">Login</button>
                        </div>
                        <hr>
                        <p><a href="">Discover</a></p>
                        <p><a href="">Random User</a></p>
                        <p><a href="">Official Blog</a></p>
                    </div>
                </aside>
                <main>
                    <header id="head"></header>
                    <header id="info">
                        <div id="pfpinfo">
                            <img id="pfp" src="/images/urania-pfp.jpg" alt="profile picture">
                            <p style="margin-bottom:0.3em;">Joined in 2023/10/20</p>
                        </div>
                        <div id="infodesc">
                            <h1>Urania238</h1>
                            <button>Follow</button>
                            <p><b>BD:</b> 1789/09/24</p>
                            <p>22 <b>Posts</b></p>
                            <p>10 <b>Following</b></p>
                            <p>92 <b>Followers</b></p>
                        </div>
                        <div id="desc">
                            <p>It is I, the best and well known radioactive element out there!! I ain't selfish, other radioactive elements are also the best1! (talkin about you, thori and pluto)</p>
                            <p><a href="/elesite/urania238/about">Read more...</a></p>
                        </div>
                    </header>
                    <div style="padding:8px;">
                        <h3>A favorite song:</h3>
                        <small>Al Bowlly & The Rhythm Maniacs - If Anything Happened to You</small>
                        <audio controls src="https://file.garden/ZSrdnyDRyR84aPOn/elesite_favmus_urania238.mp3"></audio>
                    </div>
                    <hr>
                    <section id="postcontainer">

                        <article class="post">
                            <header>
                                <span><b>Urania238</b></span>
                                <span>2024/02/01</span>
                            </header>
                            <section>
                                <span><b>Oxi Oxygen</b></span>
                                <p>a hot relationship with urania (literally)</p>
                            </section>
                            <section>
                                <span><b>Urania238</b></span>
                                <p>just like nuclear reactors</p>
                            </section>
                            <section>
                                <span><b>watah</b></span>
                                <p>OW, I'M STEAM NOW</p>
                            </section>
                            <section>
                                <span><b>watah</b></span>
                                <p>nvm, back to water</p>
                            </section>
                            <footer><a href="">View Comments (37)</a></footer>
                        </article>

                        <article class="post">
                            <header>
                                <span><b>Urania238</b></span>
                                <span>2024/01/25</span>
                            </header>
                            <section>
                                <span><b>Oxi Oxygen</b></span>
                                <p>uranium</p>
                            </section>
                            <section>
                                <span><b>Urania238</b></span>
                                <p>oxygen</p>
                            </section>
                            <footer><a href="">View Comments (23)</a></footer>
                        </article>

                        <article class="post">
                            <header>
                                <span><b>Urania238</b></span>
                                <span>2024/01/24</span>
                            </header>
                            <section><p>apparently i am naturally overweight</p></section>
                            <footer><a href="">View Comments (26)</a></footer>
                        </article>

                        <article class="post">
                            <header>
                                <span><b>Urania238</b></span>
                                <span>2024/01/18</span>
                            </header>
                            <section><p>excuse my absence here, as i'm spending my time hanging out with oxi</p></section>
                            <footer><a href="">View Comments (23)</a></footer>
                        </article>

                        <article class="post">
                            <header>
                                <span><b>Urania238</b></span>
                                <span>2024/01/07</span>
                            </header>
                            <section><p>guess what</p></section>
                            <footer><a href="">View Comments (34)</a></footer>
                        </article>

                        <article class="post">
                            <header>
                                <span><b>Urania238</b></span>
                                <span>2024/01/05</span>
                            </header>
                            <section><p>it's a leap year!!! time to propose to oxi!</p></section>
                            <footer><a href="">View Comments (18)</a></footer>
                        </article>

                        <article class="post">
                            <header>
                                <span><b>Urania238</b></span>
                                <span>2024/01/01</span>
                            </header>
                            <section><p>oxygen <3</p></section>
                            <footer><a href="">View Comments (25)</a></footer>
                        </article>

                        <article class="post">
                            <header>
                                <span><b>Urania238</b></span>
                                <span>2023/12/28</span>
                            </header>
                            <section><p>just met oxygen, i bet he'll become the love of my life</p></section>
                            <footer><a href="">View Comments (30)</a></footer>
                        </article>

                        <article class="post">
                            <header>
                                <span><b>Urania238</b></span>
                                <span>2023/12/12</span>
                            </header>
                            <section><p>Site somewhat still looking fresh in the modern 20s despite the design dating back to the early 2000s; I like that.</p></section>
                            <footer><a href="">View Comments (8)</a></footer>
                        </article>

                        <article class="post">
                            <header>
                                <span><b>Urania238</b></span>
                                <span>2023/12/08</span>
                            </header>
                            <section><p>"You reach your spot where your forture lies; you find it's been staked, by 17 other guys." I can't stop thinking about this line.</p></section>
                            <footer><a href="">View Comments (9)</a></footer>
                        </article>

                        <article class="post">
                            <header>
                                <span><b>Urania238</b></span>
                                <span>2023/12/05</span>
                            </header>
                            <section>
                                <p>Never thought that a song dedicated to uranium ever existed. This is from 1955 btw.</p>
                                <small>Elton Britt - Uranium Fever</small>
                                <audio controls src="https://file.garden/ZSrdnyDRyR84aPOn/elesite_elements_hD2Qj3C.mp3"></audio>
                            </section>
                            <footer><a href="">View Comments (15)</a></footer>
                        </article>

                        <article class="post">
                            <header>
                                <span><b>Urania238</b></span>
                                <span>2023/12/05</span>
                            </header>
                            <section><p>Y'know what, fine. I guess I should stop disliking non-metals, specifically water, since that's how a nuclear reactor works, and I like nuclear reactors.</p></section>
                            <footer><a href="">View Comments (12)</a></footer>
                        </article>

                        <article class="post">
                            <header>
                                <span><b>Urania238</b></span>
                                <span>2023/12/03</span>
                            </header>
                            <section><p>A non-metal is good to me if they don't touch me. No really, it burns me when I touch a non-metal.</p></section>
                            <footer><a href="">View Comments (9)</a></footer>
                        </article>

                        <article class="post">
                            <header>
                                <span><b>Urania238</b></span>
                                <span>2023/12/02</span>
                            </header>
                            <section><p>i hate water</p></section>
                            <footer><a href="">View Comments (15)</a></footer>
                        </article>

                        <article class="post">
                            <header>
                                <span><b>Urania238</b></span>
                                <span>2023/11/29</span>
                            </header>
                            <section><p>almost turned into thorium</p></section>
                            <footer><a href="">View Comments (4)</a></footer>
                        </article>

                        <article class="post">
                            <header>
                                <span><b>Urania238</b> rb'd <b>the 1st element</b></span>
                                <span>2023/11/27</span>
                            </header>
                            <section>
                                <span><b>the 1st element</b></span>
                                <p>li ain't lying, he really is in my batteries and OH MY WHAT THE HECK WHY IS THERE SO MANY OF THEM>?????</p>
                            </section>
                            <section>
                                <span><b>Urania238</b></span>
                                <p>cations be upon ye (and WHAT???????)</p>
                            </section>
                            <footer><a href="">View Comments (50)</a></footer>
                        </article>

                        <article class="post">
                            <header>
                                <span><b>Urania238</b></span>
                                <span>2023/11/26</span>
                            </header>
                            <section>
                                <p><img style="max-width: 100%;" src="/images/elesite_li_cation.png" alt="A Li+ atom looking at you. The atom has features of a cat. The cation is saying &quot;I am in your batteries.&quot;"></p>
                                <p>my cation, li, is acting weird today</p>
                            </section>
                            <footer><a href="">View Comments (20)</a></footer>
                        </article>

                        <article class="post">
                            <header>
                                <span><b>Urania238</b></span>
                                <span>2023/11/24</span>
                            </header>
                            <section><p>radon needs some love</p></section>
                            <footer><a href="">View Comments (18)</a></footer>
                        </article>

                        <article class="post">
                            <header>
                                <span><b>Urania238</b></span>
                                <span>2023/11/20</span>
                            </header>
                            <section><p>casually talking to radium about our glory days when we used to be in everyday products</p></section>
                            <footer><a href="">View Comments (23)</a></footer>
                        </article>

                        <article class="post">
                            <header>
                                <span><b>Urania238</b></span>
                                <span>2023/11/17</span>
                            </header>
                            <section><p>nuclear power is apparently steam power but with spicy rocks</p></section>
                            <footer><a href="">View Comments (21)</a></footer>
                        </article>

                        <article class="post">
                            <header>
                                <span><b>Urania238</b></span>
                                <span>2023/11/10</span>
                            </header>
                            <section><p><3 to the radioactive elements out there</p></section>
                            <footer><a href="">View Comments (26)</a></footer>
                        </article>

                        <article class="post">
                            <header>
                                <span><b>Urania238</b></span>
                                <span>2023/10/30</span>
                            </header>
                            <section><p>the chaos of me commences; hello elesite!</p></section>
                            <footer><a href="">View Comments (28)</a></footer>
                        </article>

                    </section>
                    <footer>ELESITE - The Element's Socials</footer>
                </main>
            </div>
        </div>
    </body>
</html>