---
title: 
sub: About

desc:
metatitle:

layout: layout/ocbase.njk
---

<style>
    :root {
        --text: #fff;
        --background: #0a0a11;
        --bg-image: url();

        --a-link: #98c8ff;
        --a-hover: #ffc46b;
        
        --box-border: #181833;
        --box-back: #0e0e1d;

        --scroll-background: #222247;
        --scroll-border: var(--box-back);

        --radius: 0;
    }
</style>

<div id="page">
    <nav><a href="/">Mebi County</a><a href="/ochub">Main Hub</a><a href="./about">About</a></nav>
    <div id="flex">
        <main>
            <article>
                <h1>About the Mebiverse</h1>

                <p>The <i>Mebiverse</i> is the place where I archive all of the worlds that I make. It is for the purpose of storing information of my worlds and characters and sharing it to the internet.</p>
                
                <h1>IRL History</h1>

                <p>This was long before I even called myself "Mebi" or me creating the <i>Mebiverse</i>, but little did I knew I've already created it. This all began back in 2015; object shows were kinda a big thing back then, and I was a big fan of those. This led to me creating my first OC, who I don't know their name and is currently lost to time, waiting to be rediscovered. This includes the other OCs that I made around that time. Things remained pretty much the same until 2020.</p>
            </article>
        </main>
    </div>
    {% include "partials/footer.njk" %}
</div>