---
title: The Aether Islands
sub: 

desc:
metatitle:

layout: layout/ocbase.njk
---

<style>
    :root {
        --text: #fff;
        --background: #001120;
        --bg-image: url();

        --a-link: #ff9b7a;
        --a-hover: #ff3e00;
        
        --box-border: #005023;
        --box-back: #06110a;

        --scroll-background: #0e2215;
        --scroll-border: var(--box-border);

        --radius: 15px;
    }

    .done {border: 2px solid #38e081;}

    .semi {border: 2px solid #5c62ff;}

    .no {border: 2px solid #ac0e35;}

    .center {
        text-align: center;
    }

    .char-select {
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
        gap: 30px;
    }
    
    .char-select p {
        text-align: center;
        background-color: #043f30;
        border-radius: 10px;
        margin-block-start: 0.5em;
        margin-block-end: 0.15em;
    }

    .char-select img {
        text-align: center;
        vertical-align: middle;
        
        max-width: 150px;
        max-height: 150px;
        object-fit: contain;
        object-position: bottom;
    }

    .char-select div:hover {
        position: relative;
        top: -5px;
    }

    nav {
        display: none;
    }
</style>

<main>
    <article>
        <h1 class="center">Aethepor</h1>
        <p>You look down from the plane window, you're no longer over the Pacific ocean now, but rather vast areas of grassland; welcome to Aethepor.</p>

        <p>Aethepor is a large island located far from the west coasts of the United States and Canada. Often nicknamed as the "Steampunk Country" due to steam power still being prevalent; about 45% of the machinery in Aethepor is steam powered, 10% of that machinery is new.</p>

        <p>The island is dominated by grasslands with small and large river streams going through the grasslands. Exceptions being the area surrounding Mount Carre and Mount Gulf, which is mostly forest.</p>
    </article>
    <article>
        <h1 class="center">Map</h1>

        <!-- Image Map Generated by http://www.image-map.net/ -->
        <div class="center">
            <img src="/images/maps/aetherpor_map.png" usemap="#image-map" style="max-width: 1000px;width: 100%;">
        </div>

        <!--Until I can get these coords to change with the image, this will be commented out.
            <map name="image-map">
            <area target="" alt="Hampton" title="Hampton" href="./hampton" coords="610,241,416,393,373,625,319,987,441,1152,606,1258,832,1331,1110,1290,1119,1249,1135,1229,1142,1157,1110,1047,1128,951,1144,892,1133,827,1047,836,997,777,1002,718,986,664,977,621,954,558,986,467,889,381,893,325,927,207,800,139" shape="poly">
            <area target="" alt="Reginerra" title="Reginerra" href="./reginerra" coords="1052,199,932,219,896,323,891,378,986,466,954,563,1002,712,1000,780,1054,834,1133,832,1171,836,1208,836,1262,870,1380,800,1389,766,1472,735,1536,649,1579,642,1685,647,1755,637,1759,595,1782,527,1744,506,1712,459,1694,434,1730,364,1726,231,1712,88,1447,176" shape="poly">
            <area target="" alt="Bougainville" title="Bougainville" href="./bougainville" coords="1135,841,1149,893,1110,1044,1142,1157,1138,1243,1110,1295,1823,1173,2049,1042,2157,852,2171,631,2144,486,2078,405,1990,380,1836,366,1735,366,1698,430,1737,500,1775,524,1759,574,1759,635,1676,644,1597,644,1536,653,1479,726,1384,766,1389,800,1260,866,1201,836" shape="poly">
            <area target="" alt="Flaggs Island" title="Flaggs Island" href="./flaggs_island" coords="1762,52,1719,147,1728,224,1778,307,1895,364,2076,391,2164,373,2180,264,2178,138,2151,72,2004,41,1859,27" shape="poly">
        </map>-->
        <p class="center">(I'll make it interactive sometime, and don't mind the scale.)</p>
    </article>
    <article class="center">
        <h1>Characters</h1>
        <p><span style="color: #38e081;">Green</span> is complete, <span style="color: #5c62ff;">blue</span> is incomplete, and <span style="color: #ac0e35;">red</span> is unavailable.</p>
        <div class="char-select">
            <div><a href=""><img class="no" src="/images/thumbnails/ocs/benny.gif" alt="Benny Collins"><p>Benny Collins</p></a></div>
            <div><a href=""><img class="no" src="/images/thumbnails/ocs/nix.gif" alt="Nix Delta"><p>Nix Delta</p></a></div>
            <div><a href=""><img class="no" src="/images/thumbnails/ocs/kate.gif" alt="Kate Delta"><p>Kate Delta</p></a></div>
        </div>
        <p>(More will be added as I polish out their backstories and stuff!)</p>
    </article>
</main>