---
title: 
sub: 

desc:
metatitle:

layout: layout/ocbase.njk
---

<style>
    .to:hover {
        position: relative;
        top: -5px;
    }

    .hover {
        cursor: pointer;
    }

    .resp {
        max-width: 100%;
        height: auto;
        width: 150px;
    }

    #container {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5em;
    }
</style>

<main>
    <article style="text-align: center;">
        <div>
            <h1>Welcome to Mebi's Inter-Universal Hub!</h1>
            <p>This is the place where you can access all of the universes and galaxies that I created!</p>
            <p>Also kinda the place where all of my OCs would meet maybe..</p>
            <p>Well, your journey starts here. Select a portal, and be safe out there, my frie- wait. These portals don't work for now, so uh, maybe wait for a while till it's finished?</p>
        </div>
    </article>
    <article style="text-align: center;">
        <div id="container">
            <div class="to">
                <a href="">
                    <h3>The Aether Islands</h3>
                    <img class="resp" src="/images/theheavy.png" alt="Heavy TF2">
                </a>
            </div>

            <div class="to">
                <a href="">
                    <h3>The Far Future</h3>
                    <img class="resp" src="/images/theheavy.png" alt="Heavy TF2">
                </a>
            </div>

            <div class="to">
                <a href="">
                    <h3>The Farther Future</h3>
                    <img class="resp" src="/images/theheavy.png" alt="Heavy TF2">
                </a>
            </div>

            <div class="to">
                <a href="">
                    <h3>Continent of Moran</h3>
                    <img class="resp" src="/images/theheavy.png" alt="Heavy TF2">
                </a>
            </div>
        </div>
    </article>
</main>