---
title: 
sub: 

desc:
metatitle:

layout: layout/base.njk
---

<main>
    <article>
        <h1>About Me</h1>
        <hr>
        
        <p>Heya! I've been on the internet since around 2015, although I had limited access back then. I have a strong interest in doing art and I've been doing art since around 2015-16 on paper, but it wouldn't be until 2020 when I would start drawing on digital. I first used Flipaclip cause I didn't know any other digital drawing apps out there until 2022, when I saw one of my friends streaming themselves doing art on Ibispaint X, that's when I started my path on improving my art. Today, I now use Procreate Pocket (yes i use that app cause i dont have a good ipad) to do most of my art now.</p>

        <p>I also do programming. My first "programming" language is Lua because I wanted to make a Roblox game, which uses Lua as its scripting language. I've slowly learnt Lua by looking into the code of uncopylocked games (games that allowed everyone on roblox to edit it) and using the game's code as a reference. I've also used the scripts presented in free models to be used as references as well.</p>

        <p>Finally, I like making original characters (OCs)! I make these OCs purely for fun, mostly for different projects that I have in the making. One project that I'm focused on more than the others is called, well I don't have a name for it as of now. I'll refer to the project as "Some Unnamed Webseries" (SUW).</p>

        <p>SUW is a future webseries where we have this guy named Benny who immigrates from Canada to a country in the north Pacific called "Aethepor". In Aethepor, Benny would find himself in many adventures and new friends while exploring the big island. Who knows what kind of adventures he and his friends might get into? Think of this webseries being similar to Gravity Falls (my childhood show).</p>

        <p>I'll be making an interactive map of Aethepor sometime where you can learn about its history and different landmarks!</p>
    </article>

    <article>
        <h1>Why I made my website</h1>

        <p>A Tumblr post brought me here to Neocities. When I first saw the post I was like "Wait, really?! A place where I can make my own website for free?", and so I did after a few days seeing the post. I had no HTML or CSS experience, so I searched through the net for HTML/CSS tutorials, guides, using the inspect element on various sites, and here I am. I'm pretty glad on how this website turned out.</p>

        <p>As time passed I got more skilled with HTML and CSS, as well as learning some JavaScript. Then came other stuff like 11ty, Nunjucks, Liquid, and more! My love towards programming grew bigger.</p>
    </article>
</main>

<aside>
    {% include "./_includes/partials/sidenav.njk" %}
    <article>
        <h1>The Misc Box</h1>
        <p>I never knew this</p>
    </article>
</aside>