---
title: 
sub: About

desc:
metatitle:

layout: layout/base.njk
---

<style>
    #card {
        border-radius: 10px;
        background-color: #344a68;
        padding: 15px;
        width: 100%;
        max-width: 330px;
        display: flex;
        align-items: center;
        word-break: break-all;
    }

    #card img {
        width: 100%;
        height: 100%;
        max-width: 105px;
        max-height: 105px;
        border: #1c304d solid 2px;
    }

    #card div {
        margin-left: 15px;
    }
</style>

<main>
    <article>
        <h1>About me</h1>

        <div id="card">
            <img src="/images/pfp.png" alt="mebi stares at you with an emotion that can't be determined between sad, confused, or neutral">
            <div>
                <h3>Mebi Aether</h3>
                <p>stupid neurodivergent monitor head person</p>
            </div>
        </div>

        <p>Heya! It's me, Mebi Aether! (or Mebiae, Mebi, Meb, whatever). I'm just a teen who lives in Canada and barely interacts with others on the net. I LOVE programming, drawing and making characters! I also occasionally play games by my own. (And maybe make a game one day)? I should mention that my interests often change time to time.</p>

        <p>I'm not much of a big interent guy; not wanting to interact with others and likes being alone most of the time. I do try to interact with others if I want to.</p>

        <p>My interest in programming began around 2021, starting off with Lua because I wanted to make a game on Roblox. My interest in programming later dropped a bit when I left Roblox, but regained that interest when I discovered Neocities. Neocities is the reason why I gained interest in HTML, CSS and JavaScript.</p>

        <h2>A bit of history about me</h2>
        
        <p>The internet access I had back then was a bit limited, and I'm not sure if I should be proud of that or not. I still remember playing on my IPad and using my dad's PC which ran Windows 7. (Still a great OS to me).</p>

        <p>Things pretty much remained the same, until 2020. With the lockdown in place, that limited access was loosened so I don't die of boredom. Even with unrestricted access, I still haven't ventured to places I shouldn't be in.</p>

        <h2>What is a "Mebiae"?</h2>

        <p>Of course, Mebiae is not my actual name.</p>

        <p>I used to go by the name of A_FellowUnknown back then as that is the only name I could think of. Later, I wasn't satisfied with the name, and eventually came up with the name Mebi, which comes from the digital storage unit Mebibyte (or bit).</p>

        <p>Why that name tho? Well, I wanted to have a name that is related to technology in some way, so I chose that name.</p>

        <p>It wasn't originally Mebiae; there would've been an underscore in the name (mebi_ae). I got the idea of the name Mebiae while I was playing a car physics game called BeamNG.drive.</p>

        <p>How? Well, my Steam name is set to "mebi_ae", and in BeamNG you have an option to set your license plate to match the name of your current Steam name. However, BeamNG omitted the underscore, resulting the license plate to say "mebiae".</p>
    </article>

    <article>
        <h1>About this site</h1>

        <p><em>Mebi County</em> is just a small place on the net that I, Mebiae, created just for fun and to learn something new. This site is multipurpose, hosting whatever I want the internet to see here. (Like my OCs).</p>

        <h2>Why I made my website</h2>

        <p>A Tumblr post brought me here to Neocities. When I first saw the post I was like "Wait, really?! A place where I can make my own website for free?", and so I did after a few days seeing the post. I had no HTML or CSS experience, so I searched through the net for HTML/CSS tutorials, guides, using the inspect element on various sites, and here I am. I'm pretty glad on how this website turned out.</p>

        <p>As time passed I got more skilled with HTML and CSS, as well as learning some JavaScript. Then came 11ty, which I've learned about it through another site and I absolutely loved it. Oh boy, there's so much things to learn!</p>

        <p>Wish that you can also make your own personal website? How about you check <a href="/sites">here?</a> Of course, don't rely on just that, search around the net!</p>
    </article>
</main>

<aside>
    {% include "./_includes/partials/sidenav.njk" %}
    <article>
        {% include "./_includes/partials/styleswitcher.njk" %}
    </article>
</aside>