---
title: MebiBlogs
sub: 

desc:
metatitle:

layout: layout/base.njk
---

<main>
    <section>
        <h1>Blogs</h1>
        <p>Here is the place where I just talk about stuff. From my life, to stuff, to whatever.</p>
    </section>
    <section>
        {% for post in collections.blogs | reverse %}
            <div class="blogposts">  
                <h2><a href="{{ post.filePathStem }}">{{ post.data.sub }}</a></h2>
                <p>{{ post.data.blogdesc }}</p>
              <small>Posted on {{post.date.toLocaleDateString("en-CA")}}</small>
           </div>
        {% endfor %}
    </section>
</main>

<aside>
    {% include "./_includes/partials/sidenav.njk" %}
    <article>
        {% include "./_includes/partials/styleswitcher.njk" %}
    </article>
</aside>