---
title: MebiBlogs
sub: 

desc:
metatitle:

layout: layout/base.njk
---

<main>
    <section>
        <h1>Blogs</h1>
        <p>Here is the place where I just talk about stuff. From my life, to stuff, to whatever.</p>
        <hr>
        {% for post in collections.blog | reverse %}
            <p><a href="{{ post.filePathStem }}">{{ post.data.sub }}</a> - {{ post.data.desc }}</p>
        {% endfor %}
    </section>
</main>

<aside>
    {% include "./_includes/partials/sidenav.njk" %}
</aside>