---
title: Mebi County
subtitle: Changelog

meta_title:
meta_description:

layout: layout/main.njk
---

<main>
    <article class="content">
        <h1>Changelog</h1>
        <div id="updates">
            {% if collections.changelog %}
                {% for log in collections.changelog | reverse %}
                    <h2>{{ log.date | UTCA }}</h2>
                    {{ log.content | safe }}
                    <hr>
                {% endfor %}
            {% else %}
                <h3>No updates to display.</h3>
            {% endif %}
        </div>
    </article>

    <article class="content">
        <h1>Legacy Changelog</h1>
        <p>Currently moved to a <a href="/legacy_changelog.txt">seperate page</a> as a raw text file.</p>
    </article>
</main>