---
title: Mebi County
sub: Changelog

desc:
metatitle:

layout: layout/main.njk
---

<main>
    <article>
        <h1>Changelog</h1>
        <div id="update" style="max-height: 1000px;">
            {% if collections.changelog %}
                {% for log in collections.changelog | reverse %}
                <h2>{{ log.date | UTCA }}</h2>
                {{ log.content | safe }}
                {% endfor %}
            {% else %}
                <h3>No updates to display.</h3>
            {% endif %}
        </div>
    </article>

    {# RSS date formatting is impeding progress to condense changelog markdown files to a single JSON file. #}
    <article>
      <h1>Changelog</h1>
        <div id="update" style="max-height: 1000px;">
          {% for log in changelog | reverse %}
          <h2>{{ log.date }}</h2>
          {% logHTML log.info %}
          {% endfor %}
        </div>
    </article>

    <article>
        <h1>Pre-overhaul Changelog</h1>
        <p>Do note that the links here might or might not be broken.</p>
        <div id="update" style="max-height: 1000px;">
            <h2>2023/11/3</h2>
            <ul>
              <li>
                Updated the Sunset style colors to actually have colors similar to a sunset.
              </li>
              <li>
                Added a new style to the styleswitcher, Mist of the Healing Lake.
              </li>
            </ul>

          <h2>2023/11/2</h2>
            <ul>
              <li>
                The three most recent updates will now be shown here in the main page. The rest has been moved to a separated page: <a href="/updates">Updates</a>.
              </li>
              <li>
                Added a new style to the styleswitcher, Sunset. I really liked the slightly desaturated colors of purple and pink/magenta. The colors also remind me of a sunset, hence the name. (I couldn't actually find a better name, that's all I could think of.)
              </li>
            </ul>
          
          <h2>2023/11/1</h2>
            <ul>
              <li>
                Nix and Benny's wiki page has been updated with more information.
              </li>
              <li>
                New page: <a href="/sitemap">Sitemap</a>!
              </li>
              <li>
                Added a website thumbnail.
              </li>
            </ul>

            <h2>2023/10/29</h2>
            <ul>
              <li>
                As promised, the images now change with the style of the website when you select a different style!
              </li>
              <li>
                New OC wiki page: <a href="https://afellowu.neocities.org/ocmain/benny">Benny</a>.
              </li>
              <li>
                Updated the OCs page, added new OC icons and written the introductory paragraph on Benny's wiki page.
              </li>
            </ul>
            
            <h2>2023/10/28</h2>
            <ul>
              <li>
                Oops, I'm inactive again. Anyways, I think I might have to add a blog section...
              </li>
              <li>
                Added a footer bar to each existing page and also added a RSS feed!
              </li>
              <li>
                Site now updates with the <a href="https://github.com/bcomnes/deploy-to-neocities">Deploy to Neocities</a> Github action. I can now edit any file that I want and then save and push those changes all at once.
              </li>
            </ul>
          
          <h2>2023/10/15</h2>
            <ul>
              <li>
                Added three more artworks in the Artworks tab.
              </li>
            </ul>
          
          <h2>2023/10/14</h2>
            <ul>
              <li>
                Added a wiki page for one of my OCs, <a href="https://afellowu.neocities.org/ocmain/nix">Nix</a>.
              </li>
            </ul>
          
          <h2>2023/10/9</h2>
            <ul>
              <li>
                Painstakingly cleaned up the CSS and added a style switcher made by <a href="https://kalechips.net/stuff/snippets.php?p=styleswitcher" target="_blank">Kalechips!</a> + a Halloween theme for spooky month! I'll be sure to make it when you switch styles the decoration images switch colors as well.
              </li>
              <li>
                Added two sites to the Sites page.
              </li>
            </ul>
          
          <h2>2023/10/6</h2>
            <ul>
              <li>
                Hey yall, sorry for being inactive for a while. School has been in my way for a while and the motivation on working on my site has dropped. Hopefully that motivation rises again.
              </li>
              <li>
                Banner has been updated with new artwork to fit the style of the website instead of some car with popped tires doing a super drift that causes the speed to be measured in brrrs.
              </li>
            </ul>
            
          <h2>2023/9/21</h2>
            <ul>
              <li>
                Nothing has changed, but do you remember, the 21st night of September?
              </li>
            </ul>
          
          <h2>2023/9/17</h2>
            <ul>
              <li>
                OC page updated.
              </li>
              <li>
                Added some buttons and sites in the Sites page.
              </li>
            </ul>
            
            <h2>2023/9/16</h2>
            <ul>
              <li>
                Website converted to use flexbox. If the website still looks broken after refreshing, try clearing your cache.
              </li>
              <li>
                Navigation bar style updated.
              </li> 
              <li>
                Links style updated.
              </li>
              <li>
                About Me section rewritten and cleaned up a bit.
              </li>
            </ul>
            
            <h2>2023/9/13</h2>
            <ul>
              <li>Changelogs blog added! Here I'll be posting updates on what I've added to my site! Also, do expect some new things coming sometime this week or so.</li>
              <li>
                Removed the fun facts sections.
              </li>
              <li>
                Added a "Last updated" display below the changelogs + visitor count in the misc box.
              </li>
            </ul>
        </div>
    </article>
</main>

<aside>
    {% include "./_includes/partials/sidenav.njk" %}
    <article>
        {% include "./_includes/partials/styleswitcher.njk" %}
    </article>
</aside>