---
title: Mebi County
subtitle: Test

meta_title:
meta_description:

layout: layout/other.njk
css:
---

<details>
    <nav></nav>
</details>
<div id="page">
    <header></header>
    <div class="flex">
        <!--dummy sides-->
        <aside id="left"></aside>
        <main>
            <article class="content">
                <h1>Hey, hey! Hello!</h1>
                <p>Greetings to my place on the world wide web!</p>
            </article>

            <hr>

            <section class="container-unflex">
                <h2>What's New?</h2>
                <article class="content">
                    <div id="updates">
                        {% if collections.changelog %}
                            {% for log in collections.changelog | reverse | limit(5) %}
                                <h2>{{ log.date | UTCA }}</h2>
                                {{ log.content | safe }}
                            {% endfor %}
                        {% else %}
                            <h3>No updates to display.</h3>
                        {% endif %}
                    </div>
                </article>
            </section>

            <section class="flex-main">
                <section class="container">
                    <h2>Recent Blogs</h2>
                    <article class="content">
                        <p>yes</p>
                    </article>
                </section>
                <section class="container">
                    <h2>In My Mind...</h2>
                    <article class="content">
                        <p>yes</p>
                    </article>
                </section>
            </section>

            <section class="flex-main">
                <section class="container">
                    <h2>ytesg</h2>
                    <article class="content">
                        <p>yes</p>
                    </article>
                </section>
                <section class="container">
                    <h2>ytesg</h2>
                    <article class="content">
                        <p>yes</p>
                    </article>
                </section>
            </section>

            <section class="container-unflex">
                <h2>ytesg</h2>
                <article class="content">
                    <p>yes</p>
                </article>
            </section>
            
        </main>
        <aside id="right">
            <nav>
                <a href="">
                    <div class="nav-button">
                        Replace
                    </div>
                </a>
                <a href="">
                    <div class="nav-button">
                        With
                    </div>
                </a>
                <a href="">
                    <div class="nav-button">
                        Images
                    </div>
                </a>
                <a href="">
                    <div class="nav-button">
                        !!!
                    </div>
                </a>
            </nav>
        </aside>
    </div>
    <footer></footer>
</div>