---
title: concept theme
sub: 

desc:
metatitle:

layout: layout/concept.njk
---

<section id="frame">
    <h1>Mebi County
        <small>
            <sup>The Future</sup>
        </small>
    </h1>
    <section>
        <header>
            <nav>
                <a href="/">
                    e
                </a>
            </nav>
        </header>
        <main>
            <h2>concept theme thing</h2>
            <p>if you're here right now, this here will soon be a frutiger aero style concept for my website</p>
            <p>not actually going to become the main theme in the future</p>
        </main>
        <footer>
            copyright info and uhh
        </footer>
    </section>
</section>