---
title: Mebi County
subtitle: Test

meta_title:
meta_description:

layout: layout/other.njk
---

<details>
    <nav></nav>
</details>
<div id="page">
    <header></header>
    <div id="flex">
        <!--dummy sides-->
        <aside id="left"></aside>
        <main>
            <h1>Greetings!</h1>
            <p>g</p>
            <hr>
            <section class="main-flex">
                <article>
                    <h2>`</h2>
                    <p>s</p>
                </article>
                <article>
                    <p>s</p>
                </article>
            </section>
            <article>
                <p>s</p>
            </article>
            <article>
                <p>s</p>
            </article>
            <section class="main-flex">
                <article>
                    <p>s</p>
                </article>
                <article>
                    <p>s</p>
                </article>
            </section>
            <article>
                <p>s</p>
            </article>
        </main>
        <aside id="right">
            <nav>
                <a href="">
                    <div class="nav-button">
                        Home
                    </div>
                </a>
                <a href="">
                    <div class="nav-button">
                        Home
                    </div>
                </a>
                <a href="">
                    <div class="nav-button">
                        Home
                    </div>
                </a>
                <a href="">
                    <div class="nav-button">
                        Home
                    </div>
                </a>
            </nav>
        </aside>
    </div>
    <footer></footer>
</div>