---
title: Mebi County
subtitle: Outgoing

meta_title:
meta_description:

layout: layout/main.njk
---

<main>
    <article class="content">
        <h1>The Wide Area Network (WAN)</h1>
        <p>Or as we best know it, the internet (which can be considered a WAN).</p>
        <p>Personal sites, helpful resources, whatever that I find is cool, all listed here. Hope you'll find these sites or resources cool/helpful!</p>
        <p><b>Note:</b> At the moment, not all sites from the previous layout are not here for now.</p>
    </article>
    <section class="container">
        <article class="content-flex">
            <h2>Sites</h2>
            <a href="https://32bit.cafe/" target="_blank">
                <img src="/images/buttons/site_buttons/outgoing/32-bit.gif" alt="32-bit Cafe">
            </a>
            <a href="https://bloopywoopy.neocities.org/" target="_blank">
                <img src="/images/buttons/site_buttons/outgoing/bloopywoopy.gif" alt="bloopywoopy">
            </a>
            <a href="https://dabric.xyz/" target="_blank">
                <img src="/images/buttons/site_buttons/outgoing/dabric.png" alt="dabric">
            </a>
            <a href="https://vidapon.net/" target="_blank">
                <img src="/images/buttons/site_buttons/outgoing/vidapon.gif" alt="Vidapon">
            </a>
            <a href="https://wiggle.monster/" target="_blank">
                <img src="/images/buttons/site_buttons/outgoing/wiichicken.gif" alt="WiiCHiCKEN">
            </a>
            <a href="https://puexii.neocities.org/" target="_blank">
                <img src="/images/buttons/site_buttons/outgoing/puexii.png" alt="puexii">
            </a>
            <a href="https://karma.computer/" target="_blank">
                <img src="/images/buttons/site_buttons/outgoing/10kph.png" alt="10kph">
            </a>
            <a href="https://status.cafe/" target="_blank">
                <img src="/images/buttons/site_buttons/outgoing/status_cafe.png" alt="status.cafe">
            </a>
            <a href="https://n-has-a-site.neocities.org/" target="_blank">
                <img src="/images/buttons/site_buttons/outgoing/n-has-a-site.png" alt="n-has-a-site">
            </a>
            <hr>
            <p>
                <a href="https://muppie.xyz/" target="_blank">A Femboy Bee</a>
                <a href="https://cmyk3d.neocities.org/" target="_blank">CMYK 3D</a>
            </p>
        </article>
        <article class="content-flex">
            <h2>Resources</h2>
            <h3>Web Development</h3>
            <p><a href="https://www.w3schools.com/">W3Schools</a> - An extremely helpful site, has many coding tutorials in various programming languages!</p>
            <p><a href="https://developer.mozilla.org/en-US/">MDN Web Docs</a> - HTML/CSS/JS references. It's really useful.</p>
            <p><a href="https://www.11ty.dev/">11ty</a> - SSG (Static Site Generator) used to make this website!</p>
            <hr>
            <p><a href="https://glaze.cs.uchicago.edu/">Glaze</a> - Used for "cloaking" artworks, making it invulnerable to being used by AI (It still gets picked up by AI, however it will be distorted after being processed by the AI). Note that you'll have to be on a Windows or Mac device to download it.</p>
            <p><a href="https://paletton.com/">Paletton</a> - Useful for creating color palettes!</p>
            <hr>
            <h3>Misc</h3>
            <p><a href="https://makesweet.com/">Makesweet</a> - Have you seen those "My beloved" heart locket gifs? Well here's the site. It's got other tons of content as well.</p>
            <p><a href="https://gifcities.org/">GifCities</a> - A Search Engine for animated GIFs featured on Geocities.</p>
            <p><a href="https://cobalt.tools/">Cobalt</a> - An online MP4/MP3 converter, without those shady ads and stuff like that.</p>
            <p><a href="https://github.com/yt-dlp/yt-dlp">yt-dlp</a> - Another MP4/MP3 downloader, except this runs on your machine. Typically runs via CLI, but there are graphical versions available out there.</p>
            <p><a href="https://filegarden.com/">File Garden</a> - File hosting website. From images, audio, videos, and much more!</p>
        </article>
    </section>
</main>
