---
title: 
sub: Sites

desc:
metatitle:

layout: layout/base.njk
---

<main>
    <article>
        <h1>Sites across the net!</h1>
        <p>Ranges from cool sites to helpful sites, I hope you'll like one of theses sites or two! More will be added as I browse the net.</p>
    </article>
    <article>
        <h2>Sites on and off Neocities</h2>
          <a href="https://sadgrl.online/" target="_blank"><img src="https://sadgrl.online/assets/images/buttons/sadgrlonline.gif" alt="sadgrl.online"></a>
          <a href="https://dimden.dev/" target="_blank"><img src="https://dimden.dev/services/images/88x31.gif" alt="dimden's hotel"></a>
          <a href="https://templaterr.neocities.org/" target="_blank"><img src="/images/buttons/site_buttons/templaterr1.png" alt="TEMPLATERR"></a>
          <a href="https://bloopywoopy.neocities.org/" target="_blank"><img src="https://cdn.discordapp.com/attachments/1142835950989357128/1142836016273698866/bloopywoopy-button.gif" alt="bloopywoopy"></a>
          <a href="https://32bit.cafe/" target="_blank"><img src="/images/buttons/site_buttons/32b-neon.gif" alt="32-Bit Cafe"></a>
          <a href="https://vidapon.net/" target="_blank"><img src="https://vidapon.net/global/netgraphics/Astertrail_button.gif" alt="Vidapon's Artbox!"></a>
          <a href="https://thebrightesteyes.neocities.org/" target="_blank"><img src="https://thebrightesteyes.neocities.org/graphics/thebrightesteyes-button.gif" alt="thebrightesteyes.neocities.org website button. it's very blue."/></a>
          <a href="https://mugirasplace.neocities.org/" target="_blank"><img src="https://mugirasplace.neocities.org/Imagenes/Boton%20html.png" alt="Welcome to Place"></a>
          <a href="https://silicongirl.neocities.org/" target="_blank"><img src="/images/buttons/site_buttons/silicongirlbutton2.jpg" alt="Silicon Girl"></a>
          <a href="https://unnamedriddle.neocities.org/" target="_blank"><img src="https://unnamedriddle.neocities.org/imageassets/abutton.png" alt="Unnamed Riddle"></a>
          <a href="https://fruityphobic.neocities.org/" target="_blank"><img src="https://fruityphobic.neocities.org/site_button.gif" alt="red's website"></a>
          <a href="https://psychcool.neocities.org/" target="_blank"><img src="/images/buttons/site_buttons/psychcoolbutton.png" alt="Psychcool"></a>
          <a href="https://federiefederi.neocities.org/" target="_blank"><img src="/images/buttons/site_buttons/federiefederi.png" alt="federiefederi"></a>
          <a href="https://10kph.neocities.org/" target="_blank"><img src="/images/buttons/site_buttons/10kph.png" alt="10kph"></a>
          <a href="https://kalechips.net/" target="_blank"><img src="/images/buttons/site_buttons/kalechips.png" alt="kalechips"></a>
          <a href="https://dabric.neocities.org" target="_blank"><img src="https://dabric.neocities.org/butt/3/10.png" alt="dabric"></a>
          <a href="http://openbooks.neocities.org" target="_blank"><img src="https://openbooks.neocities.org/img/88x31.gif" style="image-rendering:pixelated;" alt="OpenBooks"/></a> 
          <a href="https://googol.neocities.org/" target="_blank"><img src="https://googol.neocities.org/googol_thumb.gif" alt="Googol"></a>
          <a href="https://kiwimeowo.neocities.org/" target="_blank"><img src="/images/buttons/site_buttons/kiwimeowo.png" alt="KiwiMeowo"></a>
          <a href="https://nerucom.neocities.org" target="_blank"><img src="/images/buttons/site_buttons/nerucom.gif" alt="nerucom"></a>
          <a href="https://status.cafe" target="_blank"><img src="https://status.cafe/assets/button.png" alt="Status Cafe"/></a>
          <a href="https://wiichicken.neocities.org/"><img src="https://wiichicken.neocities.org/button.gif" style="image-rendering: pixelated;" alt="WiiCHiCKEN"></a>
          
          <p>
            <a href="https://ndnprct3.neocities.org/" target="_blank">ndnprct3</a>
            <a href="https://breadpoetso.city/" target="_blank">honeybread</a>
            <a href="https://cmyk3d.neocities.org/" target="_blank">CMYK 3D</a>
          </p>
    </article>
    <article>
        <h1>Outside Neocities</h1>
        <h2>Web Development</h2>
        <p><a href="https://www.w3schools.com/" target="_blank">W3Schools</a> - An extremely helpful site, has many coding tutorials in various programming languages!</p>
        <p><a href="http://www.mf2fm.com/rv/index.php" target="_blank">mf2fm</a> - Some cool Javascript effects!</p>
        <p><a href="https://developer.mozilla.org/en-US/" target="_blank">MDN Web Documentation</a> - HTML/CSS/JS references. It's really useful.</p>
        <p><a href="https://www.11ty.dev/" target="_blank">11ty</a> - SSG (Static Site Generator) used to make this website!</p>

        <hr>
        <h2>Art</h2>
        <p><a href="https://glaze.cs.uchicago.edu/" target="_blank">Glaze</a> - Used for "cloaking" artworks, making it invulnerable to being used by AI (It still gets picked up by AI, however it will be distorted after being processed by the AI). Note that you'll have to be on a Windows or Mac device to download it.</p>
        <p><a href="https://paletton.com/" target="_blank">Paletton</a> - Useful for creating color palettes!</p>

        <hr>
        <h2>Misc</h2>
        <p><a href="https://makesweet.com/" target="_blank">Makesweet</a> - Have you seen those "My beloved" heart locket gifs? Well here's the site. It's got other tons of content as well.</p>
        <p><a href="https://gifcities.org/" target="_blank">GifCities</a> - A Search Engine for animated GIFs featured on Geocities.</p>
        <p><a href="https://cobalt.tools/" target="_blank">Cobalt</a> - A YT to MP4/MP3 converter, without those shady ads and stuff like that.</p>
        <p><a href="https://filegarden.com/" target="_blank">File Garden</a> - File hosting website. From images, audio, videos, and much more!</p>
    </article>
</main>

<aside>
    {% include "./_includes/partials/sidenav.njk" %}
    <article>
        {% include "./_includes/partials/styleswitcher.njk" %}
    </article>
</aside>