---
title: Mebi County
sub: Sitemap

desc:
metatitle:

layout: layout/main.njk
---
<style>
    main li {
        line-height: 2em;
    }

    main {
        max-width: 470px;
    }

    #flex {
        justify-content: center;
    }
</style>

<script>console.log("the purpose??///??////???///???????/")</script>

<main>
    <article>
        <h1>Sitemap</h1>
        <p>A map for you if you're lost.</p>
        <hr>
        <h2><a href="/">Main Page</a></h2>
        <ul>
            <li><a href="/changelog">Changelog page</a></li>
            <li><a href="/log_feed.xml">Changelog RSS Feed</a></li>
            <li><a href="/blogs">Blog page</a></li>
            <li><a href="/blog_feed.xml">Blog RSS Feed</a></li>
        </ul>

        <h2><a href="/about">About Me</a></h2>
        <h2><a href="/socials">Socials</a></h2>
        <h2><a href="/sites">Sites</a></h2>

        <h2><a href="/ochub">OCs</a></h2>
        <ul>
            <li><a href="/ochub/aethepor">Aether Islands</a></li>
        </ul>

        <h2><a href="/gallery">Gallery</a></h2>

        <h2><a href="/webcomics">Webcomics</a></h2>
        <ul>
            <li><a href="/comics/minicomics">Mini Webcomics</a></li>
        </ul>
    </article>
</main>