---
title: 
sub: Sites

desc:
metatitle:

layout: layout/base.njk
---

<main>
    <article>
        <h1>Sites across the net!</h1>
        <p>Ranges from cool sites to helpful sites, I hope you'll like one of theses sites or two! More will be added as I browse the net.</p>
    </article>
</main>

<aside>
    {% include "./_includes/partials/sidenav.njk" %}
    <article>
        {% include "./_includes/partials/styleswitcher.njk" %}
    </article>
</aside>