---
title: Mebi County
sub: Socials

desc:
metatitle:

layout: layout/main.njk
---

<style>
    main h1, 
    main h2 {
        text-align: center;
    }

    main > article {
        text-align: center;
    }

    a img:hover {
        position: relative;
        top: -5px;
    }

    a img {
        image-rendering: pixelated;
        max-width: 100%;
        height: auto;
    }
</style>

<main>
    <article>
        <h1>You are en-route outside of Mebi County.</h1>
        <h2>Where do you like to go next?</h2>

        <a href="https://www.youtube.com/channel/UCqQwD_ZyZ4myz1rVxwZ8XHw" target="_blank">
            <img src="/images/social_buttons/youtube.png" alt="Youtube">
        </a>
        <h3>Games, random memes, maybe animations and stuff like that.</h3>
        <br>
        <a href="https://www.tumblr.com/mebiae" target="_blank">
            <img src="/images/social_buttons/tumblr.png" alt="Tumblr">
        </a>
        <h3>Current art account. Also the place where I may reblog useful things or funni things.</h3>
        <br>
        <a href="https://www.instagram.com/mebiae/" target="_blank">
            <img src="/images/social_buttons/insta.png" alt="Instagram">
        </a>
        <h3>(ARCHIVE) Artworks and some IRL photos.</h3>
        <br>
        <a href="https://neocities.org/site/afellowu" target="_blank">
            <img src="/images/social_buttons/neocities.png" alt="Neocities">
        </a>
        <h3>My Neocities profile.</h3>
    </article>
</main>

<aside>
    {% include "./_includes/partials/sidenav.njk" %}
    <article>
        {% include "./_includes/partials/styleswitcher.njk" %}
    </article>
</aside>