---
title: Mebi County
subtitle: Socials

meta_title:
meta_description:

layout: layout/main.njk
---

<main>
    <article class="content">
        <h1>Socials</h1>
        <p>All of my socials that I have. Follow me, contact me, feel free to do so.</p>
        <hr>
        <h2><a href="https://bsky.app/profile/mebiae.bsky.social">Bluesky</a> | Active | Mainly used to post my artworks.</h2>
        <hr>
        <h2><a href="https://gay.muppie.xyz/@mebi">Fediverse</a> | Active | Art and yapping. Instance hosted by my friend!</h2>
        <hr>
        <h2><a href="https://www.tumblr.com/mebiae">Tumblr</a> | Inactive | Former art account before moving to Bluesky.</h2>
        <hr>
        <h2><a href="https://www.instagram.com/mebiae/">Instagram</a> | Inactive | Former art account before moving to Tumblr.</h2>
        <hr>
        <h2><a href="https://www.youtube.com/channel/UCqQwD_ZyZ4myz1rVxwZ8XHw">YouTube</a> | Inactive | Don't expect anything new here.</h2>
    </article>
</main>