<footer>
    <p>Est. June 8, 2023</p>
    <div>
        <small>© Mebiae 2023-2024</small>
        <small>|</small>
        <small>Powered by <a href="https://neocities.org">Neocities</a> and <a href="https://github.com/AFellowCoderUser/mebi-neo-11ty">GitHub</a>.</small>
        <small>|</small>
        <small>Made with <a href="https://11ty.dev">11ty</a> and love.</small>
    </div>
    <p><a href="#">To the top, please.</a></p>
</footer>
