<nav>
    <a href="/">Home</a>
    <a href="/about">About Me</a>
    <div class="dropdown">
        <button class="drop" onclick="drop()">Links</button>
        <div class="dropdown-content" id="dropcont">
            <a href="/socials">Socials</a>
            <a href="/sites">Others' Sites</a>
        </div>
    </div>
    <a href="/ochub">OCs</a>
    <a href="/gallery">Gallery</a>
</nav>