<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <details class="drop">
        <summary>Creations</summary>
        <div class="drop-content">
            <a href="/worlds">Worlds</a>
            <a href="/gallery">Gallery</a>
        </div>
    </details>
    <a href="/changelog">Changelog</a>
    <a href="">Blog</a>
    <details class="drop">
        <summary>Links</summary>
        <div class="drop-content">
            <a href="">Socials</a>
            <a href="">Outgoing</a>
        </div>
    </details>
</nav>