<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <span class="drop">
        <button class="drop-button" onclick="drop()">Creations</button>
        <div class="drop-content">
            <a href="">Worlds</a>
            <a href="">Gallery</a>
        </div>
    </span>
    <a href="">Changelog</a>
    <a href="">Blog</a>
    <span class="drop">
        <button class="drop-button" onclick="drop()">Links</button>
        <div class="drop-content">
            <a href="">Socials</a>
            <a href="">Outgoing</a>
        </div>
    </span>
</nav>