<article class="sidebar">
    <h1>Page Navigation</h1>
    <a href=""><li>Home</li></a>
    <a href=""><li>Changelog</li></a>
    <a href=""><li>Blog</li></a>
    <a href=""><li>About Me</li></a>
    <a href=""><li>Links</li></a>
    <ul>
        <a href=""><li>Youtube</li></a>
        <a href=""><li>Instagram</li></a>
        <a href=""><li>Tumblr</li></li>
        <a href=""><li>Neocities page</li></a>
        <a href=""><li>Others' Sites</li></a>
    </ul>
    <!--<a href=""><li>OCs</li></a>-->
    <a href=""><li>Gallery</li></a>
        
</article>