<article class="sidebar">
    <h1>Site Navigation</h1>
    <ul id="side">
        <a href="/"><li>Home</li></a>
        <a href="/changelog"><li>Changelog</li></a>
        <a href="/blog"><li>Blog</li></a>
        <a href="/about"><li>About Me</li></a>
        <a href="/socials"><li>Links</li></a>
        <ul>
            <a href="https://www.youtube.com/channel/UCqQwD_ZyZ4myz1rVxwZ8XHw" target="_blank"><li>Youtube</li></a>
            <a href="https://www.instagram.com/mebiae/" target="_blank"><li>Instagram</li></a>
            <a href="https://www.tumblr.com/mebiae" target="_blank"><li>Tumblr</li></li>
            <a href="https://neocities.org/site/afellowu" target="_blank"><li>Neocities page</li></a>
            <a href="/sites"><li>Sites</li></a>
        </ul>
        <a href="/ochub"><li>OCs</li></a>
        <a href="/gallery"><li>Gallery</li></a>
    </ul>
</article>