<div id="stylestyle">
    <form aria-label="styleswitcher">
        <label for="styleswitcher">Styleswitcher</label>
        <select id="selector" name="styleswitcher" onchange="changeStyle(this.value)">
            <option value="none" selected disabled>Choose Style</option>
            <option value="welcome">Entering County Limits</option>
            <option value="gas">Gas Station (WIP)</option>
        </select>
    </form>
</div>