<div id="stylestyle">
    <form aria-label="styleswitcher">
        <label for="styleswitcher">Styleswitcher</label>
        <select id="selector" name="styleswitcher" onchange="changeStyle(this.value)">
            <option value="none" selected disabled>Choose Style</option>
            <option value="welcome">Entering County Limits</option>
            <option value="none" disabled>---Classic Styles---</option>
            <option value="mebi">Mebi County</option>
            <option value="halloween">Halloween</option>
            <option value="sunset">Sunset</option>
            <option value="lakemist">Mist of the Healing Lake</option>
            <!--<option value="gas">Gas Station (WIP)</option>-->
        </select>
    </form>
</div>